.modal {
  width: 25rem;
  max-width: 90%;
  background: white;
  box-shadow: 0 2px 8px black;
  position: fixed;
  top: 5vh;
  padding: 0rem;
  margin: 0rem auto;
  margin-bottom: 5rem;
  //width: 30rem;
  left: 2%;
  z-index: 100;
}

.modal__header {
  padding: 1rem;
  background: grey;
  color: black;
  h1{
      margin: 0;
      font-size: 1rem;
  }
}

.modal__content{
    padding: 0.75rem;
}

.modal__actions{
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    button{
        //text-decoration: none;
        border: none;
        background: transparent;
        color: black;
        font: inherit;
        cursor: pointer;
        vertical-align: middle;
        margin: 0;
        &:hover,
        &.active{
            border-bottom: 1px solid black
        }
    }
}
