.add-event {
  text-align: center;
  border: 1px solid black;
  padding: 0.5rem;
  margin: 2rem auto;
  width: 30rem;
  max-width: 80%;
  button {
    background: grey;
    font: inherit;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.2rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px black;
    color: black;
    cursor: pointer;
    &:hover,
    &:active {
      background: darkgrey;
      border-color: grey;
    }
  }
}
.form-control{
  label,input,textarea{
    width: 100%;
    display: block;
  }
}

.GoogleMap{
  padding: 0;
  margin: 0;
  padding-left: 120%;
  //padding-bottom: 120%;
}


